# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
.next/
.nuxt/
.vercel/
.svelte-kit/
.stackblitz/
.turbo/
dist/ # 빌드 결과물 추가
out/

# Dependency directories
node_modules/ # 의존성 디렉토리 추가
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Temp
tmp/
*.tmp
*.bak
*.swp

# macOS
.DS_Store

# Replit
.replit
replit.nix
.cpolar
.profile
.cache
node_modules
